@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root {
    --Cornflower:#4C5270;
    --rose: #D8A7B1;
    --TiffanyBlue: #BCECE0;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'poppins', sans-serif;
    font-size: 100%;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: auto;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--rose);
}

.heading{
    text-transform: capitalize;
    line-height: 1;
    font-size: 2.7rem;
    font-weight: 500;
    margin: 10px;
    color: var(--Cornflower);
}

.para{
    margin: 10px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--Cornflower);
}

.controls{
    margin: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputfield{
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    &:placeholder-shown{
        opacity: .8;
    }
}

.btn{
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--Cornflower);
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading{
    width: 30px;
    height: 30px;
    border: 5px solid var(--Cornflower);
    border-radius: 50%;
    border-top: 5px solid white;
    background-color: transparent;
    display: none;
}

@keyframes rotation{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.container{
    border: 2px solid transparent;
    border-radius: 3px;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Cornflower);
    margin: 20px;
    margin-top: 30px;
    padding: 10px;
    display: none;
}

.condition-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.con-heading,
.con-temperature,
.con-condition{
    margin: 10px 0px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--TiffanyBlue);
}

.con-heading{
    text-transform: capitalize;
    margin-bottom: 20px;
}

.con-icon{
    margin: 10px 0px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media screen and (max-width: 400px){
    .heading{
        font-size: 2rem;
    }
    .para{
        font-size: .8rem;
    }
    .container{
        width: 250px;
    }
}

@media screen and (max-width: 300px){
    .controls{
        flex-direction: column;
    }
    .btn{
        margin: 10px 0px;
    }
    .container{
        width: 150px;
    }
    .con-heading,
    .con-temperature,
    .con-condition{
        font-size: 1rem;
    }
}