@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

:root {
    --bgcolor: #0C2D48;
    --basecolor: #2E8BC0;
    --comcolor: #145DA0;
    --contentcolor: #B1D4E0;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

input:focus,
button:focus{
    outline: transparent;
}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
}

// whole ui wrapping container
.todo-container{
    border: 2px solid black;
    border-radius: 20px;
    min-width: 30%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--basecolor);
}

.delete-container{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--comcolor);
    border-bottom: 2px solid black;
    border-radius: 18px 18px 0px 0px;
}

.clear-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (min-width: 500px){
    .clear-container{
        padding: 10px;
        flex-direction: row;
    }
}

.clear{
    margin: 5px;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    transform: scale(0);
    transition:
        border 250ms ease, 
        background-color 250ms ease,
        color 250ms ease;

    &:hover{
        border: 1px solid black;
        background-color: var(--contentcolor);
        color: black;
        cursor: pointer;
    }
}

.ham-burger{
    width: 40px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    & span{
        display: block;
        position: absolute;
        height: 4px;
        width: 80%;
        background-color: #000000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1){
            top: 0px;
        }
        
        &:nth-child(2){
            top: 18px;
        }

        &:nth-child(3){
            top: 36px;
        }

    }

    &.open span:nth-child(1){
        top: 18px;
        transform: rotate(135deg);
    }

    &.open span:nth-child(2){
        opacity: 0;
    }

    &.open span:nth-child(3){
        top: 18px;
        transform: rotate(-135deg);
    }
}


.heading-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.heading{
    margin: 30px;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}

.get-input{
    width: 70%;
    padding: 5px 15px;
    border: 1px solid black;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    transition: box-shadow 250ms ease;
    
    &:focus,
    &:hover{
        box-shadow: 2px 2px 10px var(--contentcolor),
                    -2px -2px 10px var(--contentcolor);
    }
}

.add-btn{
    cursor: pointer;
    width: 25%;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: box-shadow 250ms ease;
    
    &:focus,
    &:hover{
        box-shadow: 2px 2px 10px var(--contentcolor),
                    -2px -2px 10px var(--contentcolor);
    }
  
}


.todo-stack{
    width: 100%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.todo{
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--contentcolor);
}



input[type = "checkbox"]{
    opacity: 0;
    position: absolute;
    z-index: 200;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

// span element:
.custom-check{
    z-index: 100;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    border: 2px solid currentColor;
    border-radius: 50%; 
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: scale(.9);
    transition: transform 200ms ease;
}

input[type = "checkbox"]:hover + .custom-check,
.custom-check:hover,
input[type = "checkbox"]:focus + .custom-check,
.custom-check:focus{
    transform: scale(1);
    cursor: pointer;
}

input[type = "checkbox"]:checked + .custom-check{
    background-color: rgb(32, 111, 214);
    border-color: black;
    box-shadow: inset 0 0 0 2px white;
    transform: scale(1);
}

label{
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 100%; 
        top: 50%;
        left: 0;
        height: 2px;
        margin-bottom: calc(55% - 2px);
        background: currentColor; 
        transform: scale(0);
        transform-origin: right;
        transition: transform 250ms ease;
    }
}

input[type = "checkbox"]:checked + .custom-check + label{
    opacity: .6;
}

input[type = "checkbox"]:checked + .custom-check + label::after{
    transform: scale(1);
    transform-origin: left;
}




